// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	text-align:center
}

.current {
	text-align:center
}

footer {
	text-align:center
}

.ban {
	text-align:center
}

.pl :hover {
    background-color: rgba(153,153,153,1);
}

img {
	float:left
}
