<!DOCTYPE html>
<html>
<head>
  <title>CraigsScout SF</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<h6>Copyright, 2013   |   Disclaimer: This site is not affiliated with craigslist.org.</h6>
</footer>
</body>
</html>


